body {
    margin: 0;
    min-height: 100%;
    overflow: visible;
    background-color: #fff;
    font-family: Barlow,sans-serif;
    color: #2e3844;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.section.banner {
    z-index: auto;
    height: auto;
    background-color: transparent;
    background-image: url("https://assets.website-files.com/5e6c01bb5212506d6c119069/5e8115255836db2cd3bfd6b2_background.jpg");
    background-position: 0 0;
    background-size: cover;
    background-repeat: repeat;
    object-fit: cover;
}
.section {
    position: relative;
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #fff;
}
div{
    display: block;
}
.container {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    max-width: 1248px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    text-align: center;
   
    object-fit: none;
}
.section-title {
    width: auto;
    max-width: none;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
}
.heading {
    width: 100%;
    padding-top: 20px;
    border: 0 solid #fff;
    font-family: 'IBM Plex Serif',sans-serif;
    color: #fff;
    font-size: 68px;
    line-height: 120%;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}
.row.row-align-center {
    justify-content: center;
}
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/* mid layout */

.content-width-extra-large.justify-content-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
.justify-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* center align property */
/* mid div */

.content-width-extra-large {
   
    width: 100%;
    max-width: 720px;
    text-align: left;
}
.text-left {
    text-align: left;
}
.text-large.text-left {
    font-size: 18px;
    line-height: 28px;
}
.text-large {
    overflow: visible;
    max-width: 100%;
    font-family: 'IBM Plex Sans',sans-serif;
    color: #6f8093;
    
}
.pargaraph{
    font-size: 16px;
}
.margin-top {
    margin-top: 36px;
}
.paragraph.text-dark {
    margin-bottom: 0;
    font-family: 'IBM Plex Sans',sans-serif;
    color: #293240;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
}
strong {
    font-weight: 700;
}
.columns-3 {
    display: flex;
    padding-bottom: 10px;
    align-items: flex-end;
    border-bottom: 3px solid #293240;
}
.w-row::before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
.w-col-2 {
    width: 16.66%;
}
.w-col-3 {
    width: 25%;
}
.w-col-4 {
    width: 33.33%;
}
.w-col {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.w-row::after {
    clear: both;
}
.w-row::after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
.cookie-table {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #293240;
}
w-row::before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
}
